In [31]:
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306/university?charset=utf8mb4

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%%sql
DROP DATABASE IF EXISTS university;
CREATE DATABASE university;
USE university

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
8 rows affected.
1 rows affected.
0 rows affected.

[]

In [33]:
%%sql
CREATE TABLE
	Student (
		id INT PRIMARY KEY AUTO_INCREMENT,
		f_name VARCHAR(128),
		l_name VARCHAR(128),
		birth DATE,
		address VARCHAR(256),
		email VARCHAR(128),
		phone VARCHAR(14),
		gender CHAR(1),
		first_term INT
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [34]:
%%sql
CREATE TABLE
	Professor (
		id INT PRIMARY KEY AUTO_INCREMENT,
		f_name VARCHAR(128),
		l_name VARCHAR(128),
		birth DATE,
		address VARCHAR(256),
		email VARCHAR(128),
		phone VARCHAR(14),
		gender CHAR(1),
		title VARCHAR(128),
		office INT
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [35]:
%%sql
CREATE TABLE
	Department (
		id INT PRIMARY KEY AUTO_INCREMENT,
		name VARCHAR(128)
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [36]:
%%sql
CREATE TABLE
	Major (
		id INT PRIMARY KEY AUTO_INCREMENT,
		name VARCHAR(128),
		department_id INT NOT NULL REFERENCES Department (id)
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [37]:
%%sql
CREATE TABLE
	Course (
		id INT PRIMARY KEY AUTO_INCREMENT,
		name VARCHAR(128),
		theoretical_units INT,
		practical_units INT
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [38]:
%%sql
CREATE TABLE
	CourseGroup (
		id INT PRIMARY KEY AUTO_INCREMENT,
		term INT,
		classroom INT,
		week_day INT,
		start_time TIME,
		end_time TIME,
		professor_id INT NOT NULL REFERENCES Professor (id),
		course_id INT NOT NULL REFERENCES Course (id)
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [39]:
%%sql
CREATE TABLE
	Study (
		id INT PRIMARY KEY AUTO_INCREMENT,
		grade DECIMAL(4, 2),
		student_id INT NOT NULL REFERENCES Student (id),
		course_group_id INT NOT NULL REFERENCES CourseGroup (id)
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]

In [40]:
%%sql
CREATE TABLE
	Enrollment (
		id INT PRIMARY KEY AUTO_INCREMENT,
		student_id INT NOT NULL REFERENCES Student (id),
		major_id INT NOT NULL REFERENCES Major (id)
	);

 * mysql+pymysql://root:***@localhost:3306/university?charset=utf8mb4
0 rows affected.

[]